/* General Styling */
body {
  background-color: #f3f4f6;
  font-family: "Arial", sans-serif;
  height: 100vh;
  
}

/* Centering the form */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 10px;
}

/* Form box */
.signup-box {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}
/* left-container */
.left-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  width: 50%;
  padding: 10px;
  
}
/* right-container */
.right-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
  width: 50%;
  padding: 10px;
  margin-right: 10px;
}

/* Form Title */
.signup-box h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: black;
}

.signup-box p {
  text-align: center;
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
  
}

/* Form fields */
.form-group {
  margin-bottom: 15px;
  height: 100%;
  width: 100%;
}

label {
  font-size: 16px;
  color: black;
  font-weight: bold;
  font-family: "Roboto";
  margin-bottom: 5px;
  padding: auto;
}

input, select {
  width: 100%;
  
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

input:focus, select:focus {
  border-color: #2563eb;
  box-shadow: 0 0 5px rgba(37, 99, 235, 0.3);
}

/* Submit Button */
.signup-btn {
  width: 50%;
  padding: 10px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  
}
.form-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.signup-btn:hover {
  background-color: #1d4ed8;
}

/* Sign in link */
.signin-text {
  text-align: center;
  font-size: 14px;
  margin-top: 15px;
}

.signin-text a {
  color: #2563eb;
  text-decoration: none;
  font-weight: bold;
}

.signin-text a:hover {
  text-decoration: underline;
}